*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #292524;
    font-family: "Sono";
    padding:30px 50px;
}
.start{
    max-width: 1000px;
    margin:0 auto;
}
.header{
    margin-bottom: 30px;
    
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    
    display: flex;
    align-items: center;
   gap: 30px;
}


.main{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap:48px;
    padding-left: 3px;
}
h1{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Coiny" ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fafaf9;
    line-height: 1;
    margin-top: 6px;
}
.fact-form{
    background-color: #44403c;
    margin-bottom: 30px;
}

.fact-form input,.fact-form select{
    background-color: #78716c;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    
   
}
.fact-form ::placeholder{
    color:#fafaf9;
    font-family: "Coiny" ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.value{
    flex-grow: 1;
}
.fact{
    font-size: 15px;
    line-height: 1.5;
    font-family:"Jura",Arial, Helvetica, sans-serif;
    color:#fafaf9;
    background-color: #44403c;
    margin-bottom: 20px;
    padding: 20px 24px ;
   
    
}



.vote-buttons{
    margin-left:  auto;
    
    
    
}

.vote-buttons button{
    background-color:#78716c;
    border: none;
    border-radius:30px ;
    padding: 10px 15px;
    color:#fafaf9;
    font-family: "Coiny" ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
    transition: 0.3s;


}

.vote-buttons button:hover{
    background-color: #292524;
}


.tag{
    font-family: "Sono";
    text-transform: uppercase;
    font-size: 14px;
    color:#fafaf9;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
}


ul{
    list-style: none;

}

.Source{
    color: red;
}

.Source:hover{
    color: blue;
    transition: 0.3s;
}

.Source:active{
    color: green;
}

.btn{
    border: none;
    padding: 10px 15px;
    
    background-image: linear-gradient( 120deg,#3b82f6,#ef4444,#16a34a,#eab308);
    font-family:"Coiny";
    color:#fafaf9;
    font-size: 15px;
    border-radius: 20px;
   
    
}
.btn:hover{
    transform: scale(120%) rotate(-5deg);
    transition: 0.3s;
    
}

 .btn1{
    margin-bottom: 20px;
    width: 100%;

}


 .button-all{
    
    background-image: none;
    margin-bottom: 10px;
    width: 100%;

 }

.button2{
    padding: 10px 20px;
    margin-left:10px;
}
